@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: "antonio", sans-serif;
}

h3 {
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    color: white;
    font-weight: bold;
    font-size: 1,8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "antonio", sans-serif;
}

form {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* Color de Fondo */
    background-color: #3D03AA;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: TOP 1%;
}

label {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

form ul li label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form ul li textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #05ff3f;
}

input {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #05ff3f;
}

/* inscripciones */
button {
    background-color: white;
    border-radius: 2px;
    border-color: #05ff3f;
}

iframe {
    margin-top: 1%;
}


/* header */
.ligaLogo {
    width: 120px;
}

.fuentesNav {
    color: white;
    font-size: 1, 5rem;
    text-transform: uppercase;
    padding-left: 15px;
}

.fuentesNav a:hover {
    background-color: #05ff3f;
    color: #3D03AA;
}


/* Banner Noticias */

.tituloHoja {
    background-color: #05ff3f;
    color: #3D03AA;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    margin-top: none;
}

.titulosTabla {
    font-weight: bold;
}

.quienesSomos {
    text-align: center;
    margin-top: 1%;
    margin-right: 15%;
    margin-bottom: 1%;
    margin-left: 15%;

}

.formulario {
    color: #16425b;
    font-weight: bolder;
    background-color: rgb(77, 128, 129);
    text-align: center;
    text-shadow: #2f6690;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
}

label {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-display: center;
    display: flex;
}

/* galeria de noticias */

.row {
    margin: 20px;
    padding: 0;
}
.row p {
    color: white;
    text-align: center;
}

.row h5 {
    color: white;
    text-align: center;
}

.card-text {
    margin-top: 20px;
}

.card {
    background-color: #3d03aa1a;
    border: none;
}

.text-body-secondary {
    color: white;
}

.carouselExample {
    margin-bottom: 0px;
}

.navbar-toggler img {
    width: 45px;
    height: 40px;
}

.estilo-boton {
    border: solid 2px white;
}

.estilo-boton:hover {
    box-shadow: 0 0 5px #05ff3f;
}

aside {
    /* background-color: #273c2c; */
    grid-area: publi;
}

.gridPadre {
    text-align: center;
}

footer {
    background-image: url(../img/footer.jpg);
    grid-area: footer;
    height: 250px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    border: 10px;
}

.footerMagic {
    text-align: center;
}
.socialMedia {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.derechosReservados {
    color: black;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

.ligaDelos {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-family: "antonio", sans-serif;
    text-align: center;
}
/* VERSIÓN MÓVIL */

@media (min-width: 768px) {
    .gridPadre {
    display: grid;
    grid-template-areas: 
    "footer";
    }
}

/*VERSIÓN ESCRITORIO*/

@media (min-width: 1024px) {
    .gridPadre {
    grid-template-areas:
    "footer footer footer";
    }
}