@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: "antonio", sans-serif;
}

h2 {
    font-size: 40px;
    color: #05ff3f;
    font-weight: bold;
    text-align: center;
    font-family: "antonio", sans-serif;
}

h3 {
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

h5 {
    color: white;
    font-weight: bold;
    font-size: 1, 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "antonio", sans-serif;
}

body {
    /* Color de Fondo */
    background-color: #3D03AA;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: TOP 1%;
    width: 80%;
}

label {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

form ul li label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form ul li textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #05ff3f;
}

input {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #05ff3f;
}

/* FIXTURE */
.tabla-transparente {
    background-color: transparent;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* INSTALACIONES */
.googleMaps {
    margin: 10px;
    padding: 10px;
    height: 70%;
}

.boton-inscripcion {
    background-color: #05ff3f;
    border-color: white;
    color: #3D03AA;
}

/* INSCRIPCIONES */
.formInscripciones {
    margin: 30px;
    color: white;
    border-color: #05ff3f;
    box-shadow: #05ff3f;
}

.formulario {
    color: #05ff3f;
    font-weight: bolder;
    background-color: #05ff3f;
    text-align: center;
    text-shadow: #05ff3f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
}

label {
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
    display: flex;
}

.boton-inscripcion:hover {
    background-color: #3D03AA;
    color: #05ff3f;
    border-color: white;
}

/* QUIENES SOMOS */
.youTube {
    margin: 10px;
    padding: 10px;
    height: 70%;
}

.mapa-responsive {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.imagen-responsive {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.centrarElemento {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.quienesSomos {
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.tablaFixture {
    margin: 10px;
    padding: 10px;
}

/* header */
.ligaLogo {
    width: 120px;
}

.fuentesNav {
    color: white;
    font-size: 1, 5rem;
    text-transform: uppercase;
    padding-left: 15px;
}

.fuentesNav a:hover {
    background-color: #05ff3f;
    color: #3D03AA;
}

/* Noticias */

.tituloHoja {
    background-color: #05ff3f;
    color: #3D03AA;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    margin-top: none;
}

.titulosTabla {
    font-weight: bold;
}

/* galeria de noticias */

.row {
    margin: 20px;
    padding: 0;
}

.row p {
    color: white;
    text-align: center;
}

.row h5 {
    color: white;
    text-align: center;
}

.card-text {
    margin-top: 20px;
}

.card {
    background-color: #3d03aa1a;
    border: none;
}

.text-body-secondary {
    color: white;
}

.carouselExample {
    margin-bottom: 0px;
}

.navbar-toggler img {
    width: 45px;
    height: 40px;
}

.estilo-boton {
    border: solid 2px white;
}

.estilo-boton:hover {
    box-shadow: 0 0 5px #05ff3f;
}

aside {
    margin: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.gridPadre {
    text-align: center;
}

footer {
    background-image: url(../img/footer.jpg);
    grid-area: footer;
    height: 250px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    border: 10px;
}

.footerMagic {
    text-align: center;
}

.socialMedia {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.derechosReservados {
    color: black;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

.ligaDelos {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-family: "antonio", sans-serif;
    text-align: center;
}

/* VERSIÓN MÓVIL */

@media (min-width: 768px) {
    .gridPadre {
        display: grid;
        grid-template-areas:
            "footer";
    }
}

/* VERSIÓN ESCRITORIO */

@media (min-width: 1024px) {
    .gridPadre {
        grid-template-areas:
            "footer footer footer";
    }
}