/* BODY */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $morado;
    background-image: url(../img/tactics.svg);
    grid-area: body;
}

/* ASIDE */
aside {
    margin: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: $antonio;
    animation-name: texto;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

h2 {
    font-size: 40px;
    color: $verde;
    font-weight: bold;
    text-align: center;
    font-family: $antonio;
}

h3 {
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

h5 {
    color: $blanco;
    font-weight: bold;
    font-size: 25px;
    font-family: $antonio;
}

a {
    color: $blanco;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: $blanco;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tituloHoja {
    background-color: $verde;
    color: $morado;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    margin-top: none;
}

.tituloSomos {
    text-align: center;
    margin: 20px;
}