/* CARDS */

/* Galeria de Noticias */

.tituloHoja {
    background-color: #05ff3f;
    color: #3D03AA;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    margin-top: none;
}

.row {
    margin: 20px;
    padding: 0;

    p,
    h5 {
        color: $blanco;
        text-align: center;
    }

    .col .card p {
        text-align: left;
        margin: auto;
    }
}

.card-text {
    margin-top: 20px;
}

.card {
    background-color: $morado;
    border: none;
}

.text-body-secondary {
    color: $blanco;
}

.mapa-contenedor {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.mapa-contenedor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}