/* FOOTER */

footer {
    //background-image: url(../img/footer.png);
    //background-image: linear-gradient(to bottom, #3D03AA 5%, $blanco 60%, $blanco 100%);
    background-image: linear-gradient(to bottom, $morado, black, black);
    grid-area: footer;
    height: 300px;
    padding-top: 120px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    border: 10px;
}

.footerMagic {
    text-align: center;
    position: fixed bottom;

}

.socialMedia {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.derechosReservados {
    color: $blanco;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    font-family: $antonio;
}

.ligaDelos {
    color: $blanco;
    font-size: 2rem;
    font-weight: bold;
    font-family: $antonio;
    text-align: center;
}