/* MIXIN */

@mixin marginSocial {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@mixin formFormat {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid $verde;
}

@mixin mapsTube {
    margin: 10px;
    padding: 10px;
    height: 70%;
}