/* TABLAS */
.container {
    font-family: $bebas;
    font-size: 15px;
}

.container-fluid {
    font-family: $bebas;
    font-size: 15px;
}

.tituloTabla {
    color: $blanco;
    font-weight: bold;
    font-size: 25px;
    font-family: $antonio;
}