/* TABLAS */

.table123 {
    align-items: center;
    text-align: center;
    color: $blanco;
    flex: 0 0 auto;
    width: 90%;
    margin: 10%;
}

.tablaFixture {
    margin: 10px;
    padding: 10px;
}

.titulosTabla {
    font-weight: bold;
}