/* COLORES */

$morado: #3D03AA;
$verde: #05ff3f;
$blanco: #ffffff;
$negro: #000000;

/* FUENTES */
$antonio: "antonio", sans-serif;
$bebas: "Bebas Neue", sans-serif;

/* ANIMACIONES */
@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}