@import "variables";
@import "body";
@import "mixin";
@import "fuentes";
@import "nav";
@import "header";
@import "carrusel";
@import "cards";
@import "tablas";
@import "form";
@import "footer";

/* INSTALACIONES */
.googleMaps {
    @include mapsTube;
}

.textoInstalaciones {
    text-align: left;
}

/* QUIENES SOMOS */

.youTube {
    @include mapsTube;
}

.mapa-responsive,
.imagen-responsive {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.centrarElemento {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

.quienesSomos {
    margin: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: $morado;
}